body{
  overflow-x: hidden;
  margin: 0px;
}

.class-wrapper
{
    background-color: antiquewhite;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(154, 152, 150);
    
}
.d-flex-home{
  display: flex;
  flex-direction: row;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
}
li {
      align-items:end;
        float:left;
    
  }
  
  li a {
    padding-left: 10px;
    display: block;
    color: rgb(22, 13, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #c92525;
    border-radius: 20%;
  }
 
  .nav a
  {
      
        align-items: center;
        
  }
  .new-wrapper
  {
    padding-right: 40px;
    font-size: larger;
    font-style: italic;
    gap:20%;
    font-weight: 500;
  }
  .nex-wrapper
  {
    float:right;
    padding-left: 30px;
    padding-top: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .ima-wrapper
 {
    height: 100%;
    width: 400px;
  
   padding-left: 10%;
    /* margin-right:30%; */
    font-size: xx-large;
    color: #c92525;
    /* margin-top: 20%; */

}
.img-wrapper
{
    /* top:0; */
    height:9cm;
    width:14cm;
    padding-left: 60%;
    border-radius: 10% 20% ;
    padding-bottom: 30%;
    /* padding-top: 10%; */
}
/* .nic
{
  float: left;
   padding-left:10%;
    width: 50%;
    padding-bottom: 50%;
} */
.tag-wrapper
{
   /* padding-left: 60%; */
   padding-top: 0%; 
   /* padding-bottom: 30%; */
  
}
.but-wrapper
{
    height: 1cm;
    width: 2cm;
    border-radius: 20%;
    border: none;
    color: #c92525;
}
