
footer{
    background: #343434;
    padding-top: 50px;
  }
  .cont{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .footer-content{
    width: 33.3%;
  }
  h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
  .footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
  }
  .footer-content ul{
    text-align: center;
  }
  .list{
    padding: 0;
  }
  .list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
  }
  .list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
  }
  .list li:hover::before{
    width: 70px;
  }
  .social-icons{
    text-align: center;
    padding: 0;
  }
  .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
  }
  .social-icons i{
    color: white;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: #f18930;
  }
  .social-icons i:hover{
    color: #f18930;
  }
  .bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
  }
  .bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
  }
  .auth-container{
    background-image: url("https://img.freepik.com/free-photo/spaghetti-seafood-with-tomato-sauce-decorated-with-beautiful-ingredients_1150-26428.jpg?w=1060&t=st=1703121148~exp=1703121748~hmac=018909e78e724e9e7af823ffb52de371fa84eb09115cad8c525136ac37d65383");
  }