ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.d-flex-home{
  display: flex;
  flex-direction: row;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
}
li {
      align-items:end;
        /* float:left; */
    
  }
  
  li a {
    display: block;
    color: rgb(22, 13, 13);
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #c92525;
    border-radius: 20%;
  }
 
  /* .nav a
  {
      
        align-items: center;
        
  } */
  .new-wrapper
  {
    font-size: x-large;
    font-style: italic;
    gap:10%;
    font-weight: 900;
    margin-right: 20px;
  }
  .nex-wrapper
  {
    float:right;
    padding-top: 10px;
    padding-right: 10%;;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }