ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}
.d-flex-home{
  display: flex;
  flex-direction: row;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
}
li {
      align-items:end;
        float:left;
    
  }
  
  li a {
    padding-left: 10px;
    display: block;
    color: rgb(22, 13, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #c92525;
    border-radius: 20%;
  }
 
  .nav a
  {
      
        align-items: center;
        
  }
  .new-wrapper
  {
    padding-right: 40px;
    font-size: larger;
    font-style: italic;
    gap:20%;
    font-weight: 500;
  }
  .nex-wrapper
  {
    float:right;
    padding-left: 30px;
    padding-top: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }